.container.pt25
	.row
		.col-md-9 	
				h1 #{title} 
				a.btn.btn-default(href="/") 首页
				a.btn.btn-default(href="/admin/movie/list") 列表页
				a.btn.btn-default(href="/admin/addmovie") 添加电影
				a.btn.btn-default(href="/admin/category/list") 分类列表
				a.btn.btn-default(href="/admin/movie/catetory_admin") 添加分类
		.col-md-3
				form(method='GET', action='/results')
					.input-group.mt70
						input.form-control(type='text', name='q')
						span.input-group-btn
						button.btn.btn-default.fr(type='submit') 搜索 
			