link(rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css")
script(src="/libs/jquery/dist/jquery.min.js")
link(rel="stylesheet" type="text/css" href="/css/base.css")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
link(href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet")
script(src="https://unpkg.com/video.js/dist/video.js") 
link(href="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video-js.css" ref="stylesheet")
script(src="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video.js")