doctype
html
  head
    title #{title}
    include ./includes/head
    script(src="/js/detailmovies.js")
    script(src="/js/adminvideo.js")
  body
    include ./includes/header
    block content
    include ./includes/footer 
